<footer class="footer bg-dark text-light py-4" th:fragment="footer_body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquet magna vel aliquam
                    gravida.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p>123 Street, City, Country</p>
                <p>Email: info@example.com</p>
                <p>Phone: +1 234 567890</p>
            </div>
        </div>
    </div>
</footer>
