<div class="col-12 col-md-3" th:fragment="profile_navigation">
    <nav class="mb-5 mb-md-0">
        <div class="list-group list-group-sm list-group-strong list-group-flush-x" role="tablist">
            <a class="list-group-item list-group-item-action d-flex align-items-center px-2" th:href="@{/user/profile}">
                <span>Personal Info</span>
                <i class="fa fa-chevron-right margin-left-auto"></i>
            </a>
            <a class="list-group-item list-group-item-action d-flex align-items-center px-2" th:href="@{/user/orders}">
                <span>Orders</span>
                <i class="fa fa-chevron-right margin-left-auto"></i>
            </a>
            <a class="list-group-item list-group-item-action d-flex align-items-center px-2" th:href="@{/user/addresses}">
                <span>Addresses</span>
                <i class="fa fa-chevron-right margin-left-auto"></i>
            </a>
            <a class="list-group-item list-group-item-action d-flex align-items-center px-2" th:href="@{/user/payments}">
                <span>Payments</span>
                <i class="fa fa-chevron-right margin-left-auto"></i>
            </a>
        </div>
    </nav>
</div>